<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.etc.delightstouring.mapper.NewmessageMapper">

    <!--增加留言-->
    <insert id="add" parameterType="Newmessage">
        insert into newmessage(uid,message,nmDate) values(#{uid},#{message},#{nmDate})
    </insert>

    <!--删除留言-->
    <delete id="delete" parameterType="int">
        delete from newmessage where uid=#{uid}
    </delete>

    <!--修改留言-->
    <update id="update" parameterType="Newmessage">
        update newmessage set message=#{message},nmDate=#{nmDate} where uid=#{uid}
    </update>

    <!--查：查询留言表记录数-->
    <select id="count" resultType="int">
        select count(uid) from newmessage
</select>

    <!--查询所有留言-->
    <select id="findAll" resultType="Newmessage">
        select * from newmessage
    </select>

    <!--根据编号查找留言-->
    <select id="findByUid" parameterType="int" resultType="Newmessage">
        select * from newmessage where uid=#{uid}
    </select>
</mapper>