<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.etc.delightstouring.mapper.NewmessageMapper">

    <!--增加留言-->
    <insert id="addNewmessage" parameterType="Newmessage">
        insert into newmessage(u_id,message,nm_date)
        values(#{uId},#{message},#{nmDate})
    </insert>

    <!--删除留言-->
    <delete id="delNewmessageById" parameterType="int">
        delete from newmessage where nm_id = #{nmId}
    </delete>

    <!--修改留言-->
    <update id="updateNewmessageById" parameterType="Newmessage">
        update newmessage
        <set>
            <if test="message != null">
                message = #{message},
            </if>
            <if test="nmDate != null">
                nm_date = #{nmDate},
            </if>
        </set>
        where nm_id = #{nmId}
    </update>

    <!--查：查询留言表记录数-->
    <select id="findCount" resultType="int">
        select count(nm_id) from newmessage
    </select>

    <resultMap id="NewmessageMap" type="Newmessage">
        <id property="nmId" column="nm_id"></id>
        <result property="uId" column="u_id"></result>
        <result property="message" column="message"></result>
        <result property="nmDate" column="nm_date"></result>
        <association property="users" column="uId"
                     select="com.etc.delightstouring.mapper.UserMapper.findUserById">
        </association>
    </resultMap>

    <!--查询所有留言-->
    <select id="findAllNewmessage" resultMap="NewmessageMap">
        select * from newmessage
    </select>

    <!--根据编号查找留言-->
    <select id="findNewmessageById" parameterType="int" resultMap="NewmessageMap">
        select * from newmessage where nm_id = #{nmId}
    </select>
    <!--查：根据用户编号查找记录-->
    <select id="findNewmessageByUid" parameterType="string" resultMap="NewmessageMap">
        select * from newmessage where u_id like '%${uid}%'
    </select>
</mapper>